.img-height {
    height:400px;
  }
.card-img-height{
  height: 200px;
  }
.movie-footer{
    background-color: black;
    height: 70px;
    color: white;
    text-align: center;
   
  }
.footer-align{
  margin-top: 22px;
  
}
  